.notes-rain {
  position: absolute;
  top: 0;          /* empieza desde la franja beige */
  left: 0;
  width: 100%;
  height: 100%;    /* ocupa toda la altura del carrusel */
  pointer-events: none;
  overflow: hidden;
}

.note {
  position: absolute;
  top: -50px;
  color: #4b2e83; /* puedes cambiar el color */
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh); /* cae hasta abajo */
    opacity: 0;
  }
}